# CANH TRAN Notebook - Intro to Jupyter

- Author: [Ken McTran](https://github.com/ctranimal )
- Repository: [datafun-04-eda]( https://github.com/ctranimal/datafun-04-eda )
  
- Purpose: To practice with Markdown cells, Python cells in a ipynb notebook
- Date: Most recently updated: 7/21/25.

## Section 1. Checklists of Done steps the 2 steps for this Project

A. Step 1
1. Done: Created a single Markdown title
2. Done: Created a Markdown header with author/purpose/Date
3. Done: Created a numbered section for Imports using a Markdown cell.
4. Done: Create a Python cell for all import statements needed for this notebook.
   
B. Step 2:
1. Done: Create Load Data (python cells)

In [7]:
# Import from external packages
import pandas as pd
import seaborn as sns
import matplotlib

# Axes object (basic plot type returned by Seaborn)
from matplotlib.axes import Axes

## Section 2. Load Data for Step 2

1. Done: Load the iris dataset into pandas DataFrame

In [8]:
# Load the iris dataset from Seaborn
# Into a pandas DataFrame (table)
iris_df: pd.DataFrame = sns.load_dataset("iris")

# List column names
iris_df.columns

# Show a few lines from the start of the dataset
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa